.venv/
.venv-temp/
__pycache__/
*.pyc
*.pyo
*.log

backend/.venv/
backend/.venv-temp/
backend/Data/
backend/output/
backend/api_stdout.log
backend/api_stderr.log
backend/scenarios/*/

!.gitignore
!backend/Data/
!backend/scenarios/*.json
!backend/Data/README.md

frontend/.DS_Store
